.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    color: #371d61;
    letter-spacing: 5px;
    padding: 1rem 3rem;
    text-align: center;
}

.text {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}

.btn {
    background-color: transparent;
    border: 1px solid #614BC3;
    color: #614BC3;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: 1s;
    text-decoration: none;
    margin-top: .6rem;
}

.btn:hover {
    background-color: #614BC3;
    border: 1px solid #614BC3;
    color: azure;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}